<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Signup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/static/fonts/linearicons/style.css">
		
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script>
			function checkuser()
			{
				var usertype = $("#usertype").val();
				if(usertype == 1)
				{
					$("#course_div").css("display","block");
				}
				else{
					$("#course_div").css("display","none");
				}
			}
		</script>
	</head>
	<body>

		{% if msg|length %}
			<div class="alert alert-success">
				<strong>{{msg}}</strong>
			</div>
		{% endif %}
		<div class="wrapper">
			<div class="inner">
				<form action="{{url_for('signup')}}" method="post">
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Username" name="username">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-users"></span>
						<select class="form-control" name="usertype" onchange="checkuser()" id="usertype">
							<option>Select</option>
							<option value="1">Teacher</option>
							<option value="2">Student</option>
						</select>
					</div>
					<div class="form-holder" id="course_div">
						<span class="lnr lnr-users"></span>
						<select class="form-control" name="course">
							<option>Select</option>
							{% for course in courses %}
								<option value="{{ course.id }}">{{ course.course_name }}</option>
							{% endfor %}
						</select>
					</div>					
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" class="form-control" placeholder="Phone Number" name="phone">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" placeholder="Mail" name="email">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password" name="password">
					</div>
					<button>
						<span>Register</span>
					</button>
					<a href="{{url_for('login')}}">Already regitsred click here</a>
				</form>
			</div>
			
		</div>
		
		<script src="/static/js/jquery-3.3.1.min.js"></script>
		<script src="/static/js/main.js"></script>
</html>